QPushButton {{
  color: {QTMATERIAL_SECONDARYCOLOR};
  text-transform: none;
    height: 14px;
  background-color: {QTMATERIAL_PRIMARYCOLOR};
}}

QComboBox:active {{
    color: white;
}}

QListView:item:selected:active {{

}}

QTextEdit {{
    color: aqua;
}}

QLineEdit:active{{
    color: white;
}}
